<div class="container">
  <div class="jumbotron">
    <h1>pricerIQ</h1>

    <h2>... a better way to manage your quotes.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>